<h1> Welcome to Idea Box! </h1>

<div id='create-ideas'>
  <h2>Log a new idea!</h2>
  <form>
    <div class="form-group">
      <label for="title">Idea Title</label>
      <input type="title" class="form-control" id="title-field" placeholder="title">
    </div>
    <div class="form-group">
      <label for="body">Idea Body</label>
      <input type="body" class="form-control" id="body-field" placeholder="body">
    </div>
<<<<<<< HEAD
    <button type="submit" class="btn btn-default" id="submit-button">Submit</button>
=======
    <button type="submit" class="btn btn-default" id="submit-idea">Submit</button>
>>>>>>> create-stuff
  </form>
</div>

<div id='ideas'>
<h2>Check out everyone's idea!</h2>
</div>
